.icon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.icon-list__container {
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background-color: #F5F4FA;
}

.icon-list__item {
    width: 100%;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.icon-list__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-text-color);
    margin-bottom: 10px;

    @media screen and (min-width: 768px) {
        text-align: left;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;;
    }
}

.icon-list__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}